* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}
.app .app__main {
  display: flex;
  padding-top: 4.5rem;
}
.app .app__main > :nth-child(1) {
  width: 60%;
}
.app .app__main > :nth-child(2) {
  width: calc(40% - 3rem);
}
